@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts//DroidNaskh-Regular.eot);
  src: url(../fonts//DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts//DroidNaskh-Regular.woff2) format('woff2'),
       url(../fonts//DroidNaskh-Regular.woff) format('woff'),
       url(../fonts//DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts//DroidNaskh-Bold.eot);
  src: url(../fonts//DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts//DroidNaskh-Bold.woff2) format('woff2'),
       url(../fonts//DroidNaskh-Bold.woff) format('woff'),
       url(../fonts//DroidNaskh-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'BYekan';
    src: url('fonts/BYekan.eot?#') format('eot'), /* IE6?8 */
    url('fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/BYekan.ttf') format('truetype'); /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'BRoya';
    src: url('fonts/BRoya.eot?#') format('eot'), /* IE6?8 */
    url('fonts/BRoya.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/BRoya.ttf') format('truetype'); /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BYekan2';
  src: url('fonts/BYekan.eot?#') format('eot'),  /* IE6?8 */
       url('fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('fonts/BYekan.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
body {
        font-family: 'Droid Arabic Naskh', serif !important;

}

a {
       font-family: 'Droid Arabic Naskh', serif !important;

}

.fontBYekan
{
     font-family: BYekan2 !important;
    direction:rtl;
}
.fontYekan {
    font-family: BYekan !important;
    direction:rtl;
}
.fontYekan p {
    font-family: BYekan !important;
    direction:rtl;
}
.fontYekan span {
    font-family: BYekan !important;
    direction:rtl;
}
.fontYekan span p {
    font-family: BYekan !important;
    direction:rtl;
}
.bxslider ul li p
{
      font-family: BYekan !important;
      direction:rtl;
}
.fadirectionClass
{
    direction:rtl;
}
.fadirectionClass p,.fadirectionClass h1,.fadirectionClass a
{
    
    font-family: BYekan !important;
}
.bxslider ul li .user
{
      font-family: BRoya !important;
      direction:rtl;
}
.fontRoya {
    font-family: BRoya !important;
}
.fontRoya span{
    font-family: BRoya !important;
}
.arr-content a p
{
    font-family:BRoya !important;
}
.arr-content ul li span
{
    font-family:BRoya !important;
}
#navlist a {
    font-family: BYekan !important;
}

.SubMenuMarginRight {
    left: -90px !important;
}

#SocialNetworkUL li {
    float: left;
    margin-right: 10px;
    background-color: #e6e6e6;
    width: 25px;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    color: #000;
}

    #SocialNetworkUL li:hover {
        background-color: #ea5748;
    }

    #SocialNetworkUL li i {
        color: #000;
    }

    #SocialNetworkUL li:hover i {
        color: #fff;
    }

    .floatright
    {
        float:right !important;
    }
     .floatleft
    {
        float:left !important;
    }
     .marginright20
     {
         margin-right:20px !important;
         margin-left:0 !important;
     }

     .lineLinkColor a
     {
         color:#6b6b6b;
     }


  .lineLinkColor a:hover
     {
         color:#000000;
     }

  .floatLeft
  {
      float:left !important;
  }
#footer h4
  {
      color:#2f4497 !important;
  }
.rev-subtitle
{
    color:#e6e9f2 !important;
}


.paddingtop37
{
    padding-top:37px;
}

.liStyle li
{
    float :right;
    width:252px;
}
.marginright120
{
    margin-right:120px;
}

.marginright202
{
    margin-right:20px;
}

.pricestyle
{
    font-size:23px;
    color:#2f4497;
}
.colorlabel
{
        color:#2f4497 !important;
}

.margintop20
{
    margin-top:20px;
}

.marginleft60
{
    margin-left:60px;
}

.relatedpro .owl-item
{
    width:200px !important;
}

.fontdetail a
{
    font-size:13px !important;
    text-align:center !important;
    margin-right:2px;
}

 .nopaddingtop
 {
     padding-top:0 !important;
        padding-bottom:0 !important;
 }
 .font21{
     font-size:21px;
 }
 .ml100{
     margin-left:100px;

 }
 .ml140{
     margin-left:140px;

 }
 .nopadding
 {
     padding:0 !important;
 }
 .product-name a
 {
    font-family: BYekan !important;

 }
 .breadcrumb li h1{
     font-size:16px;
     font-weight:normal;
       padding:0 !important;
     margin:0 !important;
 }
 .nav > li > h2 a
 {
     padding: 7px 16px;
 }
 .nav-pills > li > h2
 {
     padding:0 !important;
     margin:0 !important;
 }
 .nav-pills > li > h2 a
 {
     border-radius: 0;
    color: #bdb7aa;
    text-transform: uppercase;
    font: 12px/16px "Droid Arabic Naskh",serif !important;
    display: block;
 }

 .nav-pills > li.active > h2 a, .nav-pills > li.active > h2 a:hover, .nav-pills > li.active > h2 a:focus
 {
     background-color: #cbc6b5;
    color: #fff;
 }
 

.nav > li > h2 a:hover,
.nav > li > h2 a:focus {
  text-decoration: none;
  background-color:#edecdf;
}
.copy-mg{
    color:#faa61a !important;
}
.copyright-text
{
    direction:ltr !important;
   
 font: 13px/20px 'Droid Arabic Naskh', Helvetica , Arial, sans-serif !important;

}
.nomrt
{
    margin-top:0 !important;
}
.contact-box-lg
{
    padding-top:8px;
}
.contact-container h1, .contact-box-lg h1{
    font-size:30px;
    text-align:right;
    color:#2f4497;
    border-bottom:1px solid #2f4497;
    padding-bottom:12px;
}
.contact-list h2{
    font-size:20px;
  
}
.services h2.text-right
{
    color: #2f4497;
}
.portfolio-item h3
{
    font-size: 18px;
    color: #857e70;
    margin: 0 0 4px;
    text-align: center;
    direction: rtl;
    line-height: 25px;
}

.portfolio-item h3 a {
    color: #857e70;
}
.oldPrice
{
    text-decoration:line-through;
}
.marginleft120
{
    margin-left:120px !important;
}

.registerHeading
{
    border-bottom: 1px solid #2f4497;
    color: #2f4497;
    font-size: 30px;
    padding-bottom: 12px;
    text-align: right;
}
#successDiv
{
    display:none;
   text-align:right;
   direction:rtl;
}
.product-single-meta p.clearfix
{
    margin-bottom:20px !important;
}
.paymentBtn
{
    width: 115px; height: 30px;
}
.notfoundpageLinks a{
    margin:5px 3px 0 0;
    float :right !important;
}
.notfoundpageContent h2
{
         font-family: BYekan2 !important;
}
.notfoundpageContent h3
{
   direction:rtl;
}
.pageTitleAndDesc h1{
    font-size:24px;
    text-align:center !important;;
   color:#b8011e !important;;
}

.pageTitleAndDesc p{

   color:#000 !important;   
    margin-bottom:0 !important;


}
.pageTitleAndDesc .testimonials-section
{
    padding-bottom:50px !important;
}
.pageTitleAndDesc .testimonial
{
    margin-bottom:0 !important;
}
.propageDesc
{
    text-align:right !important;
}
.descstyle {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeced;
    padding: 20px 15px;
    text-align: justify;
}
.sizeImg {
    height: 396px !important;
}
/*#content img, .section img
{
    height:396px !important;
}*/
/*.sx-menu-ul {
    background-color: RGB(52, 56, 143);
    color: #fff;
}*/
/*.sx-menu {
    background-color: RGB(52, 56, 143);
    color: #fff;
}*/

/*.sx-menu-a{
        color:#fff;
    }*/