@charset "utf-8";
/* CSS Document */
.tp-banner .s-btn {
	border: 2px solid #be394a;
	background-color: #be394a;
}
.tp-banner .s-btn:hover {
	border: 2px solid #be394a;
	color: #be394a;
}
.tparrows.preview4 .tp-arr-titleholder {
	background-color: #be394a!important;
}
#navigation ul.nav a:hover {
	color: #be394a;
}
#navigation ul.nav .current a {
	color: #be394a;
}
#welcome {
	background-color: #be394a;
	color: #fff;
}
section#welcome .buttons a {
	background-color: #fff;
	color: #be394a;
	border: 2px solid #fff;
}
section#welcome .buttons a:hover {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
}
.hex-box {
	background-color: #be394a;
	border-color: #be394a;
}
.hex-middle {
	background-color: #be394a;
	border-color: #be394a;
}
.hex-box {
	background-color: #be394a;
	border-color: #be394a;
}
#team .contents .block .social-icons ul li i {
	background-color: #be394a;
}
.progress-bar {
	background-color: #be394a;
}
#services .contents .icon {	
	border: 2px solid #be394a;
	color: #fff;	
}
#services .contents .icon i {	
	color: #be394a;
}
#features-tabs ul.bullets li .icon {
	background-color: #be394a;
}
#process .box {
	background-color: #be394a;
}
#process .box .icon i {	
	color: #be394a;
}
#blog .contents .box .picture {
	background-color: #be394a;
}
.tag-list a:hover {
	color: #fff;
	background-color: #be394a;
}
#quotes .quotes-carousel .name {
	color: #be394a;
}
#quotes .quotes-carousel2 .name {
	color: #be394a;
}
#testimonials .testimonial-carousel .picture img {
	background-color: #be394a;
}
#testimonials .testimonial-carousel .name {
	color: #be394a;
}
#pricing .pro {
	background-color: #be394a;
}
#pricing .price-box .bullets .signup a:hover {
	background-color: #be394a;
}
#social-icons .social .icon:hover {
	background-color: #be394a;
}
#contact .address span {
	color: #be394a;
}
#contact .address a {
	color: #be394a;
}
.btn-default {
	background-color: #be394a!important;
	border-color: #be394a!important;
}
.scrollup {
	background-color: #be394a;
}
.buttons a {
	background-color: #be394a;
	border: 2px solid #be394a;
}
.buttons a:hover {
	color: #be394a;
	border: 2px solid #be394a;
}
.readmore a {
	background-color: #be394a;
	border: 2px solid #be394a;
}
.readmore a:link {
	background-color: #be394a;
	border: 2px solid #be394a;
}
.readmore a:hover {
	color: #be394a;
	border: 2px solid #be394a;
}
.link a {
	color: #be394a;
}
.link a:link {
	color: #be394a;
}
.link a:hover {
	color: #be394a;
}
.owl-theme .owl-controls .owl-buttons div {
	border: 2px solid #be394a;
	background-color: #be394a;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	border: 2px solid #be394a;
}
.owl-theme .owl-controls .owl-page span {
	background: #be394a;
}
.hi-icon-color .hi-icon {
	box-shadow: 0 0 0 3px #be394a;
}
.hi-icon-color .hi-icon:after {
	background: #be394a;
}
#options ul li a {
	color: #be394a;
	border: 1px solid #be394a;
}
#options ul li a:link {
	color: #be394a;
	border: 1px solid #be394a;
}
#options ul li:hover a, #options ul li a.selected {
	color: #fff;
	background-color: #be394a;
	border: 1px solid #be394a;
}
#portfolio-mansory .picture {
	background-color: #be394a;
}
.picture-overlay .icons>:first-child .icon {
	color: #be394a;
}
.picture-overlay .icons>:first-child .icon a {
	color: #be394a;
}
.nav-tabs>li>a:hover {
	background-color: #be394a;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #be394a;
}
#social-icons .bottom-cut-color {	
	border-bottom: 20px solid #be394a;
}
#footer {
	background-color: #be394a;
}
#footer .hi-icon-color .hi-icon i {
	color: #be394a;
}
#offer ul.bullets-right li .icon {	
	background-color: #be394a;
}
#offer ul.bullets-left li .icon {	
	background-color: #be394a;
}