<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MashadCarpet2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MashadCarpet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="PgwSite" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" />
    <!--<add key="PgwSite" value="https://pgwtest.bpm.bankmellat.ir/pgwchannel/startpay.mellat" />-->

    <add key="TerminalId" value="1001559" />
    <add key="UserName" value="carpetmas" />
    <add key="UserPassword" value="44729413" />
    <add key="CallBackUrl" value="http://www.mashadcarpet.com/callback.aspx" />

    <add key="BPService.PaymentGatewayImplService" value="https://bpm.shaparak.ir/pgwchannel/services/pgw" />
    <!--<add key="BPService.PaymentGatewayImplService" value="https://bpm.bpm.bankmellat.ir/pgwchannel/services/pgw" />-->

    <add key="SmsUserName" value="alibabaei" />
    <add key="SmsPassword" value="2672" />
    <add key="SmsActiveNumber" value="50004000451208" />
    <add key="SmsGetUserNumbers" value="http://rest.payamak-panel.com/api/SendSMS/GetUserNumbers" />
    <add key="SmsGetCredit" value="http://rest.payamak-panel.com/api/SendSMS/GetCredit" />
    <add key="SmsGetBasePrice" value="http://rest.payamak-panel.com/api/SendSMS/GetBasePrice" />
    <add key="SmsSendSMS" value="http://rest.payamak-panel.com/api/SendSMS/SendSMS" />
    <add key="GetDeliveries" value="https://rest.payamak-panel.com/api/SendSMS/GetDeliveries2" />
    <add key="CompanyNumber" value="09128252409" />


  </appSettings>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPages/Oops.aspx">
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />
    </customErrors>-->
    <authentication mode="Forms">
      <forms defaultUrl="~/default.aspx" loginUrl="~/login" name="mashad" timeout="34200" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="eShop.Classes.eShopRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <!--<add name="MashadCarpetEntities" connectionString="metadata=res://*/Models.MashadCarpetDB.csdl|res://*/Models.MashadCarpetDB.ssdl|res://*/Models.MashadCarpetDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.129.169.25;initial catalog=mashadcarpet_com_mashadDB;User ID=mashadcarpet_com_mashaduser;Password=123qwe!@#QWE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MashadCarpetEntities" connectionString="metadata=res://*/Models.MashadCarpetDB.csdl|res://*/Models.MashadCarpetDB.ssdl|res://*/Models.MashadCarpetDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-044MSAN\LOCAL;initial catalog=mashadcarpetdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/ErrorPages/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <MashadCarpet2017.Properties.Settings>
      <setting name="MashadCarpet2017_ir_shaparak_bpm_PaymentGatewayImplService"
        serializeAs="String">
        <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
      </setting>
      <setting name="MashadCarpet2017_ir_bankmellat_bpm_pgwstest_PaymentGatewayImplService"
        serializeAs="String">
        <value>https://pgwstest.bpm.bankmellat.ir/pgwchannel/services/pgw</value>
      </setting>
    </MashadCarpet2017.Properties.Settings>
    <MashadCarpet.Properties.Settings>
      <setting name="MashadCarpet_ir_shaparak_bpm_PaymentGatewayImplService" serializeAs="String">
        <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
      </setting>
    </MashadCarpet.Properties.Settings>
  </applicationSettings>
</configuration>